{% extends "base.html" %}

{% block title %}Minha Conta{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'accounts:index' %}">Início</a></li>
  <li class="active">Minha Conta</li>
</ol>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'accounts:index' %}" class="list-group-item active">Minha Conta</a>
          <a href="{% url 'accounts:update-user' %}" class="list-group-item">Alterar Dados</a>
          <a href="{% url 'accounts:update-address' %}" class="list-group-item">Alterar Endereço de Entrega</a>
          <a href="{% url 'accounts:update-password' %}" class="list-group-item">Alterar Senha</a>
          <a href="{% url 'checkout:order-list' %}" class="list-group-item">Meus Pedidos</a>
        </div>
    </div>
    <div class="col-md-8">
        {% block accounts_container %}
            <h2>Bem vindo {{ user }}</h2>
        {% if go_to_cart %}
            <div class="col-md-12" align="left">
                <a href="{% url 'catalog:product_list' %}" class="btn btn-default">Continue sua Compras</a>
                ou
                <a href="{% url 'checkout:cart-item' %}" class="btn btn-primary">Vá para sua Cesta</a>
            </div>
        {% endif %}
        {% if go_to_order %}
            <div class="col-md-12" align="left">
                <a href="{% url 'checkout:order-list' %}" class="btn btn-secondary">Você possui pedidos pendente de pagamento, vá para "Meus Pedidos"</a>
            </div>
        {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}