{% extends "base.html" %}

{% load pagination %}

{% block container %}
    <div class="jumbotron page-header">
      <h1>Januarius Django Store</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p><a class="btn btn-primary">Saiba mais</a></p>
    </div>
    <div class="row">
    {% for product in product_list %}
        {% if product.stock > 0 %}
            {% include "catalog/_product.html" %}
        {% endif %}
    {% endfor %}
    </div>
{% pagination request paginator page_obj %}
{% endblock %}
