{% extends "base.html" %}

{% load widget_tweaks %}

{% load utils %}

{% block title %}
Cesta de Compras
{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Início</a></li>
  <li class="active">Cesta de Compras</li>
</ol>
<div class="page-header">
    <h1>Cesta de Compras</h1>
</div>
<div class="row">
    <div class="col-md-12">
    {% if empty_cart_item %}
        <div class="col-md-12" align="center">
            <p class="text-right">
                <a href="{% url 'catalog:product_list' %}" class="pull-left btn btn-default"> Cesta de compras vazia, vá para Página de Produtos</a>
            </p>
        </div>
    {% else %}
    <form class="" action="" method="post">
        {% csrf_token %}
        {{ cart_item_formset.management_form }}
        <div class="col-md-12" align="center">
        <p class="text-right">
            <a href="{% url 'catalog:product_list' %}" class="pull-left btn btn-default">Continuar Compras</a>
            <button type="submit" class="btn btn-primary" name="CartUpdate" value="cart_item_update">Atualizar Cesta</button></li>
        </p>
        </div>
        <table class="table table-bordered">
            <thead>
                <th>Produto</th>
                <th>Preço</th>
                <th style="width: 10%;">Quantidade</th>
                <th>Total</th>
                <th></th>
            </thead>
            <tbody>
                {% for form in cart_item_formset %}
                <tr>
                    <td>
                        {{ form.instance.product }}
                    </td>
                    <td>
                        R$ {{ form.instance.price|floatformat:"2" }}
                    </td>
                    <td>
                        {% render_field form.quantity class='form-control' %}
                    </td>
                    <td>
                        R$ {% calculate_total_per_product form.instance.price form.instance.quantity %}
                    </td>
                    <td class="text-center">
                        <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger btn-sm">remover</button>
                        {{ form.id }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="col-md-12" align="right">
            <h4>Total Na Cesta - R$ {{ total_cart_item|floatformat:"2" }}</h4>
        </div>

        <form class="" action="" method="post">
            {% csrf_token %}
            <div class="col-md-12" align="right">
                {{ shipping_method_formset.management_form }}
                {% for shipping_method_form in shipping_method_formset %}
                <h4>
                    {{ shipping_method_form }}
                    <button type="submit" name="ShippingMethod" value="get_shipping_method"  class="btn btn-info btn-sm">OK</button>
                    {{ shipping_method_form.id }}
                </h4>
                {% endfor %}
            </div>

            {% if selected_shipping_method_formset %}
                <form class="" action="" method="post">
                    {% csrf_token %}
                    <div class="col-md-12" align="right">
                        {{ selected_shipping_method_formset.management_form }}
                        {% for selected_shipping_method_form in selected_shipping_method_formset %}
                        <h4>
                            {{ selected_shipping_method_form }}
                            <button type="submit" name="SelectedShippingMethod" value="get_selected_shipping_method"  class="btn btn-info btn-sm">OK</button>
                            {{ selected_shipping_method_form.id }}
                        </h4>
                            {% if user.is_authenticated and selected_shipping_method_formset.prefix == 'delivery_by_correios_shipping_method' %}
                                <button type="submit" name="ShippingAddressFromUser" value="get_shipping_address_user"  class="btn btn-info btn-sm">Usar Endereço Cadastrado</button>
                            {% endif %}
                        {% endfor %}
                </form>
                    {% if pickup_address %}
                        <h4><p> Endereço de Retirada: {{ pickup_address }}</p>
                    {% elif postal_code %}
                            <h4>

                                <p> Entrega no endereço de CEP: {{ postal_code }} </p>
                                <p> {{ shipping_address }}, {{ shipping_number }}  </p>
                                <p> {{ shipping_neighborhood }} </p>
                                <p> {{ shipping_city }} - {{ shipping_state }} </p>

                        <h4><p> Tempo estimado de entrega: {{ shipping_time }} dias</p></h4>
                    {% endif %}

                    {% if msg_error %}
                        <h4><p> {{ msg_error }}</p>
                    {% endif %}
                        <h4><p> Frete: R$ {{ shipping_cost|floatformat:"2" }}</p></h4>

    </div>
            {% endif %}

        </form>

    </form>
    <div class="col-md-12" align="right">
        <h3>Total da Compra: R$ {{ total|floatformat:"2" }} </h3>
    </div>
    {% if can_finish %}
        <div class="col-md-12" align="right">
            <a href="{% url 'checkout:create-order' %}" class="btn btn-success">Finalizar Compra</a>
        </div>
    {% else %}
        <div class="col-md-12" align="right">
            <h4><p>Escolha a Forma de Entrega para poder finalizar sua compra</p></h4>
        </div>
    {% endif %}
    {% endif %}
</div>
</div>
{% endblock %}