{% extends "base.html" %}

{% load utils %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Início</a></li>
  <li><a href="{% url 'checkout:cart-item' %}">Carrinho de Compras</a></li>
  <li class="active">Finalização da Compra</li>
</ol>
<div class="page-header">
    <h1>Escolha forma de pagamento</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h4><p> Pedido #{{ order.pk }} </p></h4>
        <table class="table table-bordered">
            <thead>
                <th>Produto</th>
                <th>Preço (R$)</th>
                <th>Quantidade</th>
                <th>Total (R$)</th>
            </thead>
            <tbody>
            {% for item in order.items.all %}
                <tr>
                    <td>{{ item.product }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{% calculate_total_per_product item.price item.quantity %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col-md-12" align="right">
            <p> Situação: {{ order.get_payment_status_display }}</p>
            <p> Forma de Entrega: {{ order.get_shipping_method_display }}</p>
            <p> Data de Retirada: {{ order.shipping_pickup_day }}</p>
            <p> Frete: R$ {{ order.shipping_cost|floatformat:"2" }}</p>
            <h4><p> Total: R$ {{ order.total_order|floatformat:"2" }}</p></h4>
        </div>
    </div>
    <form class="" action="" method="post">
        {% csrf_token %}
        {{ payment_methods_formset.management_form }}
        <div class="col-md-12" align="right">
            {% for payment_methods_form in payment_methods_formset %}
                {{ payment_methods_form }}
                <br>
                <button type="submit" name="PaymentMethod" value="get_payment_method"  class="btn btn-info btn-sm">Confirmar Pagamento</button>
                {{ payment_methods_form.id }}
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}